@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba(204,169,44, 0);
      box-shadow: 0 0 0 30px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f8ff3b;
  font-family: Helvetica;
  letter-spacing: 1px;
}

.clock {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-weight: 300;
}

#contentBox {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  padding: 60px 20px 60px 20px;
}

.even {
  border-style: dotted;
  border-color: pink;
  animation: pulse 2s;
}

.even h2 {
  color: #ff8600;
}

h2 {
  color: #ffffff;
  padding: 30px;
  font-weight: 100;
}

.buttonBox {
  display: flex;
  flex-direction: row;
}

button {
  background-color: #ffc518;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 30px;
}

button:hover {
  background-color: #df976f;
  cursor: pointer;
  color: white;
}
