@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

h1 {
  color: #ffffff;
}

#contentBox {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 2px 3px 4px rgba(0,0,0,.5);
  animation: pulse 2s;
  animation-iteration-count: infinite;
}

.noon {
  background-image: url(https://moodmoods.files.wordpress.com/2015/02/image2.jpg?w=730&h=667);
}

.evening {
  background-image: url(http://images.artistrunwebsite.com/titlepage/tp_17791500378443_large.jpeg?1500378451);
}

h2 {
  color: #ffffff;
  padding: 30px;
  font-weight: lighter;
}

.buttonBox {
  display: flex;
  flex-direction: row;
}

button {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 30px;
}

button:hover {
  background-color: #df976f;
  cursor: pointer;
  color: white;
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
